        <script type="text/javascript" src="/javascripts/screen-9DCF.js">
        </script>
        <link href="/stylesheets/screen-9DCF.css" rel="stylesheet" type="text/css" />
        <link href="files/resources/css/base.css" rel="stylesheet" type="text/css" />
                   <div id="j_109" class="titledpanel23">
                        <div id="j_109_title" class="titledpanel23-header">
                            Frequent Activities (Dynamic)
                        </div>
                        <div id="j_109_body" class="titledpanel23-body">
                            <div id="j_109_subdiv" class="">
                                <a id="j_110" class="commandlinkh2">
                                Pay Bills to security
                                </a>
                                <a id="j_111" class="commandlinkh3">
                                Complaints
                                </a>
                                <a id="j_112" class="commandlinkh4">
                                Billing
                                </a>
                                <a id="j_113" class="commandlinkh5">
                                Contact List
                                </a>
                                <a id="j_114" class="commandlinkh6">
                                Staff List
                                </a>
                                <a id="j_115" class="commandlinkh7">
                                MC meeting
                                </a>
                                <a id="j_116" class="commandlinkh8">
                                link
                                </a>
                                <a id="j_117" class="commandlinkh9">
                                link
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="j_118" class="titledpanel14">
                        <div id="j_118_title" class="titledpanel14-header">
                            Contact Finder
                        </div>
                        <div id="j_118_body" class="titledpanel14-body">
                            <div id="j_118_subdiv" class="">
                                <a id="j_119" class="commandlinkh10">
                                Members List
                                </a>
                                <div id="j_120_comp">
                                    <input id="j_120" value="Pending 46" class="textinput13" type="input" maxlength="100"
                                    tabIndex="23" />
                                </div>
                                <a id="j_121" class="commandlinkh11">
                                Unit
                                </a>
                                <div id="j_122_comp">
                                    <input id="j_122" value="Pending 21" class="textinput14" type="input" maxlength="100"
                                    tabIndex="24" />
                                </div>
                                <a id="j_123" class="commandlinkh12">
                                Staff List
                                </a>
                                <div id="j_124_comp">
                                    <input id="j_124" value="Total 05" class="textinput15" type="input" maxlength="100"
                                    tabIndex="24" />
                                </div>
                                <a id="j_125" class="commandlinkh13">
                                Service Providers
                                </a>
                                <div id="j_126_comp">
                                    <input id="j_126" value="Total 05" class="textinput16" type="input" maxlength="100"
                                    tabIndex="24" />
                                </div>
                                <a id="j_127" class="commandlinkh14">
                                Security Staff
                                </a>
                                <a id="j_128" class="commandlinkh15">
                                House Keeping
                                </a>
                                <a id="j_129" class="commandlinkh16">
                                Others
                                </a>
                                <a id="j_130" class="commandlinkh17">
                                Suppliers
                                </a>
                                <a id="j_131" class="commandlinkh18">
                                Managing Committe Members
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="j_132" class="titledpanel5">
                        <div id="j_132_title" class="titledpanel5-header">
                            To Do self
                        </div>
                        <div id="j_132_body" class="titledpanel5-body">
                            <div id="j_132_subdiv" class="">
                                <a id="j_133" class="commandlinkh19">
                                link
                                </a>
                                <div class="clearer">
                                    &nbsp;
                                </div>
                                <a id="j_134" class="commandlinkh20">
                                link
                                </a>
                                <div class="clearer">
                                    &nbsp;
                                </div>
                                <a id="j_135" class="commandlinkh21">
                                link
                                </a>
                                <div class="clearer">
                                    &nbsp;
                                </div>
                                <a id="j_136" class="commandlinkh22">
                                link
                                </a>
                                <div class="clearer">
                                    &nbsp;
                                </div>
                                <a id="j_137" class="commandlinkh23">
                                link
                                </a>
                                <div class="clearer">
                                    &nbsp;
                                </div>
                                <a id="j_138" class="commandlinkh24">
                                link
                                </a>
                                <div class="clearer">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="j_139" class="titledpanel16">
                        <div id="j_139_title" class="titledpanel16-header">
                            To Do Complaints / Reminder(system)
                        </div>
                        <div id="j_139_body" class="titledpanel16-body">
                            <div id="j_139_subdiv" class="">
                                <a id="j_140" class="commandlinkh25">
                                Terrace Leakage
                                </a>
                                <a id="j_141" class="commandlinkh26">
                                Water Shortage
                                </a>
                                <a id="j_142" class="commandlinkh27">
                                Cleanliness
                                </a>
                                <a id="j_143" class="commandlinkh28">
                                Security Lapse
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
