
.field {
width: 390px;
  padding: 5px;
  color: #fff;
  background-color: #ddddbb;
  height: 53px;
  font-family: verdana;
  font-size: 16px;
  line-height: 20px;
  border: 0px solid red;
}
.actions {
  padding: 5px 5px 5px 50px;
  color: #fff222;
  font-family: verdana;
  font-size: 22px;

}
