      <div id="j_13_body" class="titledpanel3-body">
	       <p>                 	                        	                 
	       	   	 <% flash.each do |key, value| %>
		          <%= content_tag(:div, value, :class => "flash #{key}") %>
		     <% end %>
		     <%= yield %>
	       </p>
      </div>