        <% if current_user %>
<ul id="j_5" class="sf-menu dropdownmenu1 " tabIndex="1">
      <li class="group" style="width:80px;">
       
               <%= link_to "Members", members_path %>
       </li>
	   <li class="group" style="width:65px;">
                <%= link_to "Billing", billing_path %>
        </li>
        <li class="group" style="width:90px;">
            <a id="j_40" href="#">
            Complaints
            </a>
            <ul style="width:194px;">
                <li style="width:170px !important;">
                    <a id="j_41" href="#" style="width:162px">
                    My Complaints
                    </a>
                </li>
                <li style="width:170px !important;">
                    <a id="j_42" href="#" style="width:162px">
                    Other Members Complaints
                    </a>
                </li>
                <li style="width:170px !important;">
                    <a id="j_43" href="#" style="width:162px">
                    Resolved Complaints
                    </a>
                </li>
            </ul>
        </li>
        <li class="group" style="width:80px;">
                    <%= link_to "Meetings", meetings_path %>
       </li>
        <li class="group" style="width:70px;">
            <a id="j_46" href="#">
            Reports
            </a>
            <ul style="width:97px;">
                <li style="width:73px !important;">
                    <a id="j_47" href="#" style="width:65px">
                    Menu item
                    </a>
                </li>
            </ul>
        </li>
        <li class="group" style="width:65px;">
            <%= link_to "Master", master_path %>
        </li>
</ul>
			<script type="text/javascript">
			                                jQuery(function()
			{
			    jQuery('ul.sf-menu').superfish(
			    {
			        hoverClass: 'sfHover',
			        dropShadows: false,
			        autoArrows: false,
			        disableHI: true
			    });
			});
			</script>
                         
 <% end %>