
   <img id="header-trigger" src="/stylesheets/files/resources/image/menu-arrow-down.png" />
</div>

<div id="header-container" style="display: none; z-index:999999;">	 
	<table id="header" cellspacing="0" cellpadding="0">
	    <tr id="header-body">
	        <td>
	            <select onchange="window.location.href=this.value;">
	                <option value="screen_BEE3.html" selected="selected">
	                    Home
	                </option>
	            </select>
	            <span class="project-name">
	                "Home"
	            </span>
	            by CHSDESK
	        </td>
	    </tr>
	</table>
                
	   <img id="header-close-trigger" src="/stylesheets/files/resources/image/menu-arrow-up.png" />
